%tbody
  %tr
    %td= result.place
    %td
      = result.competitor.name
      = result.competitor.surname
    %td= result.first_route_place
    %td= result.second_route_place
    %td= result.points.round(2)
