<tbody>
  <tr>
    <td><%= result.place %></td>
    <td><%= result.competitor.name %> <%= result.competitor.surname %></td>
    <td><%= result.first_route_place %></td>
    <td><%= result.second_route_place %></td>
    <td><%= result.points.round(2) %></td>
  </tr>
</tbody>