<tbody>
  <tr id="<%= competitor.id %>">
    <td><%= competitor.name %></td>
    <td><%= competitor.surname %></td>
    <td><%= competitor.club %></td>
    <td><%= link_to "Add", event_participants_path(competitor_id: competitor.id), method: :post,
            class: 'btn btn-xs btn-success', remote: true %></td>
  </tr>
</tbody>