<tbody>
  <tr id="<%= event.id %>" data-href="<%= event_path(event) %>">
    <td><%= event.name %></td>
    <td><%= event.place %></td>
    <td><%= event.created_at.strftime("%d/%m/%Y") %></td>
  </tr>
</tbody>