<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, size: 30 %>
  </div>

  <div class="form-group">
    <%= f.label :place %><br />
    <%= f.text_field :place, size: 30 %>
  </div>
  
  <div class="form-group">
    <%= f.submit 'Create Event', class: "btn btn-primary" %>
  </div>
<% end %>

