<div class="round_menu">
  <div class="round_button">
    <a href='#' id='m1-btn' class='btn btn-primary'>First list for men</a>
  </div>
  <div class="round_button">
    <a href='#' id='f1-btn' class='btn btn-primary'>First list for women</a>
  </div>
  <div class="round_button">
    <a href='#' id='m2-btn' class='btn btn-primary'>Second list for men</a>
  </div>
  <div class="round_button">
    <a href='#' id='f2-btn' class='btn btn-primary'>Second list for women</a>
  </div>
  <div id="compute_results">
    <%# if enough_scores?([@m1, @f1, @m2, @f2]) %>
      <p><%# button_to "Compute Results", compute_results_eliminations_results_path, class: 'btn btn-lg btn-success',
                params: {event_id: params[:id] } %></p>
    <%# end %>
  </div>
</div>

<div class="row" id="m1">
  <div class="col-sm-5">
    <div id="m1_scores">
      <%= render partial: 'scores/scores', locals: { scores: @m1, name: "Men's first route" } %>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="res">
      <%= render partial: 'scores/results', locals: {results: @m1, name: "Men's first route results" } %>
    </div>
  </div>
</div>

<div class="row" id="f1">
  
  <div class="col-sm-5">
    <div id="f1_scores">
      <%= render partial: 'scores/scores', locals: { scores: @f1, name: "Women's first route" } %>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div id="f1_res">
      <%= render partial: 'scores/results', locals: {results: @f1, name: "Women's first route results" } %>
    </div>
  </div>
</div>
  
<div class="row" id="m2">
  <div class="col-sm-5">
    <div id="m2_scores">
      <%= render partial: 'scores/scores', locals: { scores: @m2, name: "Men's second route" } %>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div id="m2_res">
      <%= render partial: 'scores/results', locals: {results: @m2, name: "Men's second route results" } %>
    </div>
  </div>
</div>  

<div class="row" id="f2">
  <div class="col-sm-5">
    <div id="f2_scores">
      <%= render partial: 'scores/scores', locals: { scores: @f2, name: "Women's second route" } %>
   </div>
  </div>
  
  <div class="col-sm-6">
    <div id="f2_res">
      <%= render partial: 'scores/results', locals: {results: @f2, name: "Women's second route results" } %> 
    </div>
  </div>
</div>  
    
     