<tbody>
  <tr id="<%= competitor.id %>" data-href="<%= competitor_path(competitor) %>">
    <td><%= competitor.name %></td>
    <td><%= competitor.surname %></td>
    <td><%= competitor.club %></td>
  </tr>
</tbody>