<div class="panel panel-primary">
  <div class="panel-heading text-center"><strong>Add competitor</strong></div>
  <div class="panel-body">
    <%= form_for(competitor) do |f| %>
      <% if competitor.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(competitor.errors.count, "error") %> prohibited this competitor from being saved:</h2>

          <ul>
          <% competitor.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :surname %>
          <%= f.text_field :surname, class: 'form-control' %>
        </div>
      </div>
        
      <div class="row">
        
        <div class="form-group col-sm-6">
          <%= f.label :birth_date %>
          <%= f.date_select :birth_date, {start_year: 1960, end_year: Date.today.year - 10}, {class: 'form-control'} %>
        </div>
        
        <div class="form-group col-sm-6">
          <%= f.label :club %>
          <%= f.text_field :club, class: 'form-control' %>
        </div>
        
        <div class="form-group col-sm-6">
          <%= f.label :sex, 'Male'  %>
          <%= f.radio_button :sex, 'M' %>
          <%= f.label :sex, "Female", :value => "false" %>
          <%= f.radio_button :sex, 'F' %>
        </div>
        
      </div>
      
      <%= hidden_field_tag(:event_id, event_id) %>
      <%= f.submit 'Add Competitor', class: "btn btn-primary", event_id: event_id %>

    <% end %>
  </div>
</div>
