.panel.panel-primary
  .panel-heading.text-center
    %strong Add competitor
  .panel-body
    = form_for(competitor) do |f|
      - if competitor.errors.any?
        #error_explanation
          %h2
            = pluralize(competitor.errors.count, "error")
            prohibited this competitor from being saved:
          %ul
            - competitor.errors.full_messages.each do |message|
              %li= message
      .row
        .form-group.col-sm-6
          = f.label :name
          = f.text_field :name, class: 'form-control'
        .form-group.col-sm-6
          = f.label :surname
          = f.text_field :surname, class: 'form-control'
      .row
        .form-group.col-sm-6
          = f.label :birth_date
          = f.date_select :birth_date, {start_year: 1960, end_year: Date.today.year - 10}, {class: 'form-control'}
        .form-group.col-sm-6
          = f.label :club
          = f.text_field :club, class: 'form-control'
        .form-group.col-sm-6
          = f.label :sex, 'Male'
          = f.radio_button :sex, 'M'
          = f.label :sex, "Female", :value => "false"
          = f.radio_button :sex, 'F'
      = hidden_field_tag(:event_id, event_id)
      = f.submit 'Add Competitor', class: "btn btn-primary", event_id: event_id
