<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

  <div class="row" id="f1">

      <div id="f1_scores" class="col-md-6">
        <%= render partial: 'scores/scores', locals: { scores: @f1.start_list, name: "#{@f1.name} scores" } %>
      </div>

      <div id="first_route_women" class="col-md-6">
        <%= render partial: 'scores/results', locals: {results: @f1.results, name: "#{@f1.name} results" } %>
      </div>

  </div>

  <div class="row" id="m1">

      <div id="m1_scores" class="col-md-6">
        <%= render partial: 'scores/scores', locals: {scores: @m1.start_list, name: "#{@m1.name} scores" } %>
    </div>

      <div id="first_route_men" class="col-md-6">
        <%= render partial: 'scores/results', locals: {results: @m1.results, name: "#{@m1.name} results" } %>
      </div>

  </div>

  <div class="row" id="f2">

      <div id="f2_scores" class="col-md-6">
        <%= render partial: 'scores/scores', locals: { scores: @f2.start_list, name: "#{@f2.name} scores" } %>
     </div>

      <div id="second_route_women" class="col-md-6">
        <%= render partial: 'scores/results', locals: {results: @f2.results, name: "#{@f2.name} results" } %>
      </div>

  </div>

  <div class="row" id="m2">

      <div id="m2_scores" class="col-md-6">
        <%= render partial: 'scores/scores', locals: { scores: @m2.start_list, name: "#{@m2.name} scores" } %>
      </div>

      <div id="second_route_men" class="col-md-6">
        <%= render partial: 'scores/results', locals: {results: @m2.results, name: "#{@m2.name} results" } %>
      </div>

  </div>

<div class="row text-center">
  <%= link_to "Eliminations Results", compute_eliminations_results_event_path,
                class: 'btn btn-lg btn-success' %>
</div>