<!DOCTYPE html>
<html>
  <head>
    <title>ClimbingJudge</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'menu' %>
    
    <div class="row-offcanvas row-offcanvas-left">
      <div id="flash">
        <% flash.each do |key, value| %>
         <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
     
    <% if content_for?(:sidebar) %>
      <%= render 'sidebar' %>
    <% end %>
    
    <div id="main">
    <div class="col-md-12">
        <p class="visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
        </p>
        <%= yield %>
      </div>
    </div>
  </div><!--/row-offcanvas -->


   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 </body>
</html>


