- content_for :sidebar do
  #scores_remaining
    %li.list-group-item
      %h4= @event.status.titleize
      (scores remaining: #{scores_remaining([@m, @f])})
  #buttons
    %a#m-btn.list-group-item.active{:href => "#"} Men
    %a#f-btn.list-group-item.active{:href => "#"} Women
  %li.list-group-item
    %h4 Starting Lists (PDF)
  - @event.lists.where(round: "#{@m.round}").each do |list|
    = link_to "#{list.name}", list_path(list, format: "pdf"), class: 'list-group-item'
  - if !@event.round_lists('semi-finals').empty?
    %li.list-group-item
      %h4 Semi-Finals Results (PDF)
    - @event.finals_lists('sf').each do |list|
      = link_to "#{list.name}", list_path(list, format: "pdf", type: "results"), class: "list-group-item"
  %li.list-group-item.danger
    %h4 Danger
  = link_to "Delete #{@event.status.titleize} lists", send("delete_#{@event.status}_lists_event_path"), class: 'list-group-item', |
    data: { confirm: "Are you sure?" }                                                                                            |
#m.row
  #m_scores.col-md-6
    = render partial: 'scores/scores', locals: {scores: @m.start_list, name: "#{@m.name} scores" }
  #finals_men.col-md-6
    = render partial: 'scores/results', locals: {results: @m.results, name: "#{@m.name} results" }
#f.row
  #f_scores.col-md-6
    = render partial: 'scores/scores', locals: {scores: @f.start_list, name: "#{@f.name} scores" }
  #finals_women.col-md-6
    = render partial: 'scores/results', locals: {results: @f.results, name: "#{@f.name} results" }
.row.text-center
  = link_to "Competitions Results", compute_results_event_path, |
    class: 'btn btn-lg btn-success'                             |
